In [10]:
str1="Hello World"
print(str1)
str1.capitalize

Hello World

In [16]:
course_name="Data Science Masters"
course_name[5:12]

'Science'

In [24]:
course_name[11:4:-1]

'ecneicS'

In [12]:
str1="welcome to pw skills.welcome to dat cience masters"
str1.replace("dat","data")
str1.replace("cience","science")

'welcome to pw skills.welcome to dat science masters'

In [2]:
str1

'welcome to pw skills.welcome to dat cience masters'

In [13]:
str1.replace("dat","data").replace("cience","science")

'welcome to pw skills.welcome to data science masters'

In [13]:
str2="pwskills"
for i in range(len(str2)-1,-1,-1):
    print(str2[i])

s
l
l
i
k
s
w
p

In [17]:
lst1=["pw","skills","data","science","masters"]
print(lst1)

['pw', 'skills', 'data', 'science', 'masters']

In [20]:
for i in lst1:
    print(i)
    if i=="science":
        print(i)
        break

pw
skills
data
science
science

In [21]:
print(max(lst1))

skills

In [1]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]
matrix=[lst_1,lst_2,lst_3]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
matrix[0]

[1, 2, 3]

In [3]:
matrix[1][2]

6

In [2]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
[i for i in range(0,20,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
[i if i%2==0 else" " for i in range(0,20)]

[0,
 ' ',
 2,
 ' ',
 4,
 ' ',
 6,
 ' ',
 8,
 ' ',
 10,
 ' ',
 12,
 ' ',
 14,
 ' ',
 16,
 ' ',
 18,
 ' ']

In [10]:
lst=[1,2,3,4,5,6,7,8]
sum_even=0
sum_odd=0
for i in lst:
    if i%2==0:
        sum_even=sum_even+i
    else:
        sum_odd=sum_odd+i
print(sum_even)
print(sum_odd)

20
16

In [34]:
sum_1=0
lst8=[1,2,3,4,5,6,7,8,9,10]
for i in lst8:
    sum_1+=(i*i)
print(sum_1)

385

In [41]:
sum_1=0
lst8=[1,2,3,4,5,6,7,8,9,10]
[i*i for i in lst8]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
number=[-2,-1,0,1,2,3,4]
[i for i in number if i > 0]

[1, 2, 3, 4]

In [13]:

c_temp=[0,10,20,30,40,50]
print("the temp in celcious is:{}".format(c_temp))
[((i*1.8)+32) for i in c_temp ]

the temp in celcious is:[0, 10, 20, 30, 40, 50]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [29]:
list1=[[1,2,3],[4,5,6],[7,8,9]]
[j for i in list1 for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in list2:
     if i%20==0:
        print(i,"is not prime")
    
    
    else

the prime no.is: 1
the prime no.is: 2
the prime no.is: 3
the prime no.is: 4
the prime no.is: 5
the prime no.is: 6
the prime no.is: 7
the prime no.is: 8
the prime no.is: 9
the prime no.is: 10
the prime no.is: 11
the prime no.is: 12
the prime no.is: 13
the prime no.is: 14
the prime no.is: 15
the prime no.is: 16
the prime no.is: 17
the prime no.is: 18
the prime no.is: 19
the prime no.is: 20

In [9]:
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [12]:
[i if ifor i in list2]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]